@using bootstrap.Resources

@{
    ViewBag.Title = "Page home";
    ViewBag.Description = "Page home description";
    ViewBag.Author = FrontPageResources.front_page_meta_author;
}

<h2>@ViewBag.Title</h2>
