@using bootstrap.Resources

@{
    ViewBag.Title = "Tutorials";
    ViewBag.Description = "Tutorials";
    ViewBag.Author = FrontPageResources.front_page_meta_author;
}

<h2>@ViewBag.Title</h2>